<html lang="en" >
{% include 'head.html' %}
<body ng-app="MyApp" ng-controller="ctrl"  ng-cloak>

   <md-toolbar class="md-whiteframe-1dp">
     <div class="md-toolbar-tools">
       <div class="md-title"><a href="/">Organizate FPUNA</a></div>
     </div>
   </md-toolbar>
   <br><br><br>
<center>
   <div flex-xs flex-gt-xs="50" layout="column" layout-align="center">
     <h1>404</h1>
     <img ng-src="/static/img/arlequin.png" height="50%">
     <h1>Página no encontrada</h1>
  </div>

</center>





  <footer class="dontprint">
      <div align="center">
              <p>Desarrollado por Juan Duarte &copy; 2016. contacto: juanber@xionict.com </p>
      </div>
    </footer>


  <!-- Angular Material requires Angular.js Libraries -->
  <script src="/static/libs/angular.min.js"></script>
  <script src="/static/libs/angular-animate.min.js"></script>
  <script src="/static/libs/angular-route.min.js"></script>
  <script src="/static/libs/angular-aria.min.js"></script>
  <script src="/static/libs/angular-messages.min.js"></script>
  <script src="/static/libs/svg-assets-cache.js"></script>
  <script src="/static/libs/md-data-table.js"></script>

  <!-- Angular Material Library -->
  <script src="/static/libs/angular-material.min.js"></script>
<script>
(function () {
'use strict';
var app = angular.module('MyApp', ['ngMaterial']);

app.config(function($interpolateProvider) {
 $interpolateProvider.startSymbol('[[');
 $interpolateProvider.endSymbol(']]');
});



app.controller('ctrl', ['$scope', function ($scope) {
'use strict';


}]);



})();

</script>
</body>
</html>
