<footer class="dontprint">
    <md-button  ng-href="{{descarga}}" class="md-raised md-primary" target="_blank">Descargar Horario (Excel)</md-button>
    <div align="center">
            <h4>Actualizado el día {{ultima_actualizacion}}</h4>
            <p>Desarrollado por Juan Duarte &copy; 2016. contacto: juanber@xionict.com </p>
    </div>
  </footer>
