<head>
  <title>Organizar Horario</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="/static/libs/angular-material.min.css">
  <link rel="stylesheet" href="/static/libs/md-data-table.css">

  <style>
  .selectdemoBasicUsage md-input-container {
  margin-right: 10px; }

  .printable{
    display: none;
  }
  </style>
  <style type="text/css" media="print">
  .dontprint
  { display: none; }
  .printable{
    display: block;
  }
  </style>
</head>
