<md-tab label="lista de materias" >
      <md-content class="md-padding">
           <md-content flex >
             <form ng-submit="submitForm()">{% csrf_token %}
               <div  ng-cloak="" align="center">
                   <md-input-container>
                     <label>Carrera</label>
                 <md-select ng-model="userCarrera" ng-change="submitForm()" >
                   <md-option ng-repeat="carrera in carreras" value="[[carrera.abbrev]]" >
                     [[carrera.abbrev]]
                   </md-option>
                 </md-select>
               </md-input-container>

               <md-input-container style="margin-top: 40px">
                 <label style="margin-top: 40px">Materia</label>
                 <input  ng-model="buscar">
               </md-input-container>
         </div>

        </form>


        <md-card>
         <div class="md-toolbar-tools">

           <md-input-container>
           <md-button ng-click="addMaterias()"  class="md-raised md-primary"
           ng-disabled="!(options.rowSelection && selected.length)">Agregar a Mis Materias</md-button>
           </md-input-container>
           <md-progress-circular ng-show="mostrarLoader" md-mode='indeterminate'  md-diameter="100"></md-progress-circular>
         </div>


         <md-table-container>
           <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise">
             <thead md-head md-order="query.order" >
               <tr md-row>
                 <th md-column md-order-by="name"><span>Materia</span></th>

                 <th md-column  md-order-by="seccion" md-desc><span>Sección</span></th>
                 <th md-column  md-order-by="profesor"><span>Profesor</span></th>

               </tr>
             </thead>
             <tbody md-body>
               <tr md-row md-select="line" md-auto-select="options.autoSelect"  ng-repeat="line in lista_materias.data | filter: buscar | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                 <td md-cell>[[line.name]]</td>

                 <td md-cell>[[line.seccion]]</td>
                 <td md-cell>[[line.profesor]]</td>
               </tr>
             </tbody>
           </table>
         </md-table-container>

         <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="[[lista_materias.count]]" md-page-select="options.pageSelector" md-boundary-links="options.boundaryLinks"></md-table-pagination>
        </md-card>
        </md-content>
  </md-content>
</md-tab>
