


      <md-tab label="mis materias">
        <md-content class="md-padding">


             <md-content flex >

          <md-input-container class="dontprint">
          <md-button ng-click="removeMaterias()"  class="md-raised md-warn"
          ng-disabled="!(options.rowSelection && (selected2.length || selected3.length))">Borrar</md-button>
          </md-input-container>
             <md-button onclick="window.print();" class="md-raised">GENERAR PDF</md-button>



               <md-card class="dontprint">


                 <div class="md-toolbar-tools">
                   <h3> Horario de Clases</h3>
                 </div>


                 <md-table-container>
                   <table md-table md-row-select="options.rowSelection" ng-model="selected2" md-progress="promise">
                     <thead md-head  md-order="query2.order" >
                       <tr md-row>
                         <th md-column md-order-by="name"><span>Materia</span></th>

                         <th md-column ><span>Lunes</span></th>
                         <th md-column ><span>Martes</span></th>
                         <th md-column ><span>Miércoles</span></th>
                         <th md-column ><span>Jueves</span></th>
                         <th md-column ><span>Viernes</span></th>
                         <th md-column ><span>Sábado</span></th>

                       </tr>
                     </thead>

                     <tbody md-body>
                       <tr md-row md-select="line2" md-auto-select="options.autoSelect"  ng-repeat="line2 in mis_clases | orderBy: query2.order">
                         <td md-cell>[[line2.name]]</td>
                         <td md-cell>[[line2.lunes]]</td>
                         <td md-cell>[[line2.martes]]</td>
                         <td md-cell>[[line2.miercoles]]</td>
                         <td md-cell>[[line2.jueves]]</td>
                         <td md-cell>[[line2.viernes]]</td>
                         <td md-cell>[[line2.sabado]]</td>

                       </tr>
                     </tbody>
                   </table>
                 </md-table-container>

               </md-card>


               <md-card class="dontprint">


                 <div class="md-toolbar-tools">
                   <h3> Horario de Exámenes</h3>
                 </div>


                 <md-table-container>
                   <table md-table md-row-select="options.rowSelection" ng-model="selected3" md-progress="promise">
                     <thead md-head  md-order="query3.order">
                       <tr md-row>
                         <th md-column md-order-by="name"><span>Materia</span></th>

                         <th md-column  md-order-by="seccion" md-desc><span>Sección</span></th>
                         <th md-column ><span>Primer Parcial</span></th>
                         <th md-column ><span>Segundo Parcial</span></th>
                         <th md-column ><span>Primer Final</span></th>
                         <th md-column ><span>Segundo Final</span></th>
                       </tr>
                     </thead>

                     <tbody md-body>
                       <tr md-row md-select="line2" md-auto-select="options.autoSelect"  ng-repeat="line2 in mis_examenes  | orderBy: query3.order">
                         <td md-cell>[[line2.name]]</td>
                         <td md-cell>[[line2.seccion]]</td>
                         <td md-cell>[[line2.pparcial]]</td>
                         <td md-cell>[[line2.sparcial]]</td>
                         <td md-cell>[[line2.pfinal]]</td>
                         <td md-cell>[[line2.sfinal]]</td>

                       </tr>
                     </tbody>
                   </table>
                 </md-table-container>

               </md-card>
  </md-content>


        </md-content>
      </md-tab>
