<html lang="en" >
{% include 'head.html' %}
<body ng-app="BlankApp" ng-controller="nutritionController" class="toastdemoBasicUsage" ng-cloak>
   <md-toolbar class="md-whiteframe-1dp">
     <div class="md-toolbar-tools">
       <div class="md-title">Organizate FPUNA</div>
     </div>
   </md-toolbar>

  <md-content>

    <md-tabs md-dynamic-height md-border-bottom class="dontprint">

    
      <!--
        Tabs lista materias y mis materias
      -->
      {% include 'lista_materias.html' %}

      {% include 'mis_materias.html' %}

    </md-tabs>
  </md-content>


<!-- REPORTE -->
{% include 'reporte.html' %}

<!-- FOOTER -->
{% include 'footer.html' %}

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="/static/libs/angular.min.js"></script>
  <script src="/static/libs/angular-animate.min.js"></script>
  <script src="/static/libs/angular-route.min.js"></script>
  <script src="/static/libs/angular-aria.min.js"></script>
  <script src="/static/libs/angular-messages.min.js"></script>
  <script src="/static/libs/svg-assets-cache.js"></script>
  <script src="/static/libs/md-data-table.js"></script>

  <!-- Angular Material Library -->
  <script src="/static/libs/angular-material.min.js"></script>

  <!-- SCRIPTS ANGULAR  -->
{% include 'scripts.html' %}


</body>
</html>
