<h3 class="printable">Clases</h3>

<md-table-container class="printable">
<table md-table >
  <thead  md-head >
    <tr md-row>
   <th md-column > Materia </th>
    <th md-column >Lunes</th>
    <th md-column >Martes </th>
    <th md-column >Miércoles </th>
    <th md-column > Jueves </th>
    <th md-column >Viernes </th>
    <th md-column > Sábado </th>
 </tr>
</thead>

<tbody md-body >
   <tr  md-row ng-repeat="line in mis_clases">
   <td md-cell style="font-size: 60%;padding:0px">[[ line.name ]] - [[ line.seccion ]]</td>
    <td md-cell style="font-size: 60%;padding:0px">[[ line.lunes ]]</td>
    <td md-cell style="font-size: 60%;padding:0px">[[ line.martes ]]</td>
    <td md-cell style="font-size: 60%;padding:0px">[[ line.miercoles]] </td>
    <td md-cell style="font-size: 60%;padding:0px">[[ line.jueves ]]</td>
    <td md-cell style="font-size: 60%;padding:0px">[[ line.viernes ]]</td>
    <td md-cell style="font-size: 60%;padding:0px">[[ line.sabado ]]</td>
 </tr>
</tbody>
</table>
</md-table-container>
   <h3 class="printable">Examenes</h3>

  <md-table-container class="printable">
   <table md-table >
     <thead  md-head >
       <tr md-row>
         <th md-column >Materia</th>
         <th md-column  >Primer Parcial</th>
         <th md-column >Segundo Parcial</th>
         <th  md-column md-column >Primer Final</th>
         <th  md-column >Segundo Final</th>
       </tr>
     </thead>

     <tbody md-body>
       <tr  md-row ng-repeat="line2 in mis_examenes">
         <td md-cell style="font-size: 60%;padding:0px">[[line2.name]] - [[line2.seccion]]</td>
         <td md-cell style="font-size: 60%;padding:0px">[[line2.pparcial]]</td>
         <td md-cell style="font-size: 60%;padding:0px">[[line2.sparcial]]</td>
         <td md-cell style="font-size: 60%;padding:0px">[[line2.pfinal]]</td>
         <td md-cell style="font-size: 60%;padding:0px">[[line2.sfinal]]</td>

       </tr>
     </tbody>
   </table>
  </md-table-container>
